@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0px; padding: 0px;
  border: 0px; outline: 0px;
  box-sizing: border-box;
  text-decoration: none; list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.search_con {
	z-index: 999;
	visibility: visible;
	position: fixed;
	top: 0;
	margin: 0 auto;
	/*padding: 5rem 0;*/
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
  

 .search_con .input_con {
    display:flex;
    margin: 0 auto;
	 width: 550px;
	 height: 2.5rem;
	 background-color: white;
	 align-items: center;
	 justify-content: space-between;
	 overflow: hidden;
	 border-radius: 9999px;
	 transition: all 0.2s ease;
	 outline: 3px solid transparent;
}
 .search_con .input_con:focus-within {
	 outline: 3px solid #4e739c;
}
 .search_con .input_con input {
	 padding: 0 0.5rem 0 1rem;
	 width: 100%;
	 font-size: 15px;
	 color: #000000;
}
 .search_con .input_con span {
	 height: 100%;
	 display: flex;
	 align-items: center;
}
 .search_con .input_con span .bi {
	 padding: 0 0.5rem;
	 color: #4e739c;
	 font-size: 15px;
	 line-height: 2.5rem;
	 cursor: pointer;
}
 .search_con .input_con span .bi:hover {
	 color: #4e739c;
}
 .search_con .input_con span .bi-search {
	 padding-right: 1rem;
}
 .search_con .input_con .h-line {
	 height: 50%;
	 width: 1px;
	 background-color: #4e739c;
}