<!DOCTYPE html>
<html>
<body>
    <h1> Pang! </h1>

    {% for category in categories %}
        <!--<a href="pang/detail/"><h2>{{ category.name }}</h2></a>-->
        <h2 class="data-category-id">
            <a href="{% url 'detail' category.id %}" class="category-link">{{ category.name }}</a>
        </h2>
    {% endfor %}

    <h2>Add a new category: </h2>
    <form method="POST" action="{% url 'add_category' %}">
        {% csrf_token %}
        <input type="text" name="category_name" placeholder="Enter new Category" required>
        <input type="text" name="item_name" placeholder="Enter new item">  <!-- Item field is not required -->
        <input type="submit" value="Add">
    </form>

    
    <style>
        .data-category-id{
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            border: 2px solid #ccc;
            border-radius: 50px;   /* 이것이 div를 동그랗게 만듭니다 */
            background-color: #f9f9f9;
        }

        .category-link {
            color: inherit;  /* 글자색을 상속 받습니다. */
            text-decoration: none;  /* 밑줄을 제거합니다. */
        }
        
    </style>
      
</body>
</html>

