{% load static %}
<html>
<head>
    <style>
        @keyframes blink {
            0% {opacity: 1;}
            50% {opacity: 0.5;}
            100% {opacity: 1;}
        }
        
        .blink {
            animation: blink 0.5s 2;
        }
    </style>
</head>
<body>
 
    <div class="search">
        <form action="{ % url 'pang:search' % }" method="GET">
            <input type="text" name ="q" placeholder="search">
        </form>
    </div>
    <div id="main" class="level0 elem">
    ☰
    </div>     
    <!--level 3까지 있는 것-->
    {% for index, category in categories %}
    <div id="elem{{ index }}" class="level1 elem">
        {{category.name}}
    </div>
        {% for s_index, small_category in small_categories %}
            {% if small_category.parent_category == category %}
                <div id="elem{{ index }}child{{ s_index }}" class="elem elem{{index}}child level2">
                    {{small_category.name}}
                </div>
                    {% for i_index, item in items %}
                        {% if item.small_category == small_category %}
                            <div id="elem{{ index }}child{{ s_index }}subchild{{ i_index }}" 
                            class="elem elem{{ index }}child{{ s_index }}subchild level3">
                                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" 
                                data-uri="{% url 'pang:delete_item' item.id  %}">{{item.contents}}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <!-- <form id="searchForm" method="get" action="{% url 'pang:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    </form> -->
    <script type='text/javascript'>
        // const delete_elements = document.getElementsByClassName("delete");
        // Array.from(delete_elements).forEach(function(element) {
        //     element.addEventListener('click', function() {
        //         if(confirm("정말로 삭제하시겠습니까?")) {
        //             location.href = this.dataset.uri;
        //         };
        //     });
        // });

        // const delete_elements = document.getElementsByClassName("delete");
        // Array.from(delete_elements).forEach(function(element) {
        //     element.addEventListener('contextmenu', function(event) {
        //         event.preventDefault(); // 기본 동작인 context menu가 뜨는 것을 막음
        //         if(confirm("정말로 삭제하시겠습니까?")) {
        //             location.href = this.dataset.uri;
        //         };
        //     });
        // });

        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('dblclick', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

    <!-- <script type='text/javascript'>
       const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('searchForm').submit();

        });
    </script> -->
</body>
</html>

